body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
}

.controls{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin: 10px 40px;
}

.mainButton{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#renderCanvas {
    width: 75%;
    height: 75%;
    touch-action: none;
    margin: 10px 30px;
}

.mainButton:hover{
    background-color: rgb(47, 46, 87);
    color: #fff;
}

.highlighted{
    background-color: rgb(106, 105, 163);
    color: #fff;
}

#currentMode{
    font-size: 60px;
    font-weight: bold;
    margin: 40px 10%;
    font: "Trebuchet MS", Arial, Helvetica, sans-serif;
    justify-content: center;
    color: rgb(208, 176, 134);
}




